@keyframes starAnimation1of4 {
  0% {
    right: 0px;
    top: -100px; }
  100% {
    right: calc(100% + 100px);
    top: calc(100% + 100px); } }

@keyframes starAnimation2of4 {
  0% {
    right: 0px;
    top: -100px; }
  100% {
    right: calc(150% + 240px);
    top: calc(90% + -100px); } }

@keyframes starAnimation3of4 {
  0% {
    right: 0px;
    top: -100px; }
  100% {
    right: calc(85% + -450px);
    top: calc(100% + 203px); } }

* {
  box-sizing: border-box; }

body {
  background-color: black;
  height: 100vh; }

.p {
  position: fixed;
  top: 50px;
  right: 0;
  width: 1px;
  height: 1px;
  background-color: white;
  position: fixed;
  transform: skewY(-40deg) rotateY(180deg);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -400; }

.p-top {
  animation-name: starAnimation2of4; }

.p-middle {
  animation-name: starAnimation1of4; }

.p-bottom {
  animation-name: starAnimation3of4; }

.p::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  right: 1px;
  top: 0px;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%); }

.p-1 {
  animation-duration: 2.1s; }

.p-2 {
  animation-duration: 3.4s;
  top: 60%; }

.p-3 {
  animation-duration: 3s;
  top: 90%; }

.p-4 {
  top: 77%;
  animation-duration: 2s; }

.p-5 {
  top: 88%;
  animation-duration: 2.4s; }

.p-6 {
  top: 120%;
  animation-duration: 2s; }

.p-7 {
  top: 0%;
  animation-duration: 2.6s; }

.p-8 {
  top: 22%;
  animation-duration: 2.8s; }

.p-9 {
  top: 44%;
  animation-duration: 1.8s; }

.p-10 {
  top: 38%;
  animation-duration: 2.3s; }

.p-11 {
  top: 70%;
  animation-duration: 3.2s; }

.p-12 {
  top: 88%;
  animation-duration: 2.8s; }

.triangle-container {
  position: absolute; }

.triangle-line {
  position: relative;
  width: 489px;
  height: 152px;
  background-image: -webkit-linear-gradient(top, white -170%, transparent 100%);
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 2px;
  -moz-background-size: 100% 20px;
  background-size: 100% 30px;
  border-radius: 5px; }

.line1 {
  top: 325px;
  transform: rotate(60deg);
  left: 450px; }

.line2 {
  top: 277px;
  transform: rotate(180deg);
  left: 390px; }

.line3 {
  top: 20px;
  transform: rotate(300deg);
  left: 330px; }

.whiteLine {
  height: 10px;
  width: 700px;
  background-color: white;
  position: absolute;
  top: 400px;
  left: -140px;
  transform: rotate(-14deg); }
  .whiteLineGradient {
    position: absolute;
    height: 95px;
    width: 114px;
    background-image: -webkit-linear-gradient(35deg, white 0%, transparent 41%);
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 210% 52px;
    -moz-background-size: 210% 52px;
    background-size: 210% 52px;
    border-radius: 5px;
    -webkit-clip-path: polygon(0 50%, 100% 73%, 100% 23%);
    clip-path: polygon(0 50%, 100% 80%, 100% 23%);
    position: absolute;
    top: 272px;
    left: 533px; }

.blackTriangle {
  background-color: black;
  position: absolute;
  height: 430px;
  width: 500px;
  left: 390px;
  top: 160px;
  z-index: -400;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%); }
