.whiteLine{
    height: 10px;
    width: 700px;
    background-color: white;
    position: absolute;
    top: 400px;
    left: -140px;
    transform: rotate(-14deg);  
    
    
    &Gradient{
        position: absolute;
        height: 95px;
        width: 114px;
        background-image: -webkit-linear-gradient(35deg, white 0%, transparent 41%);
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        -webkit-background-size: 210% 52px;
        -moz-background-size: 210% 52px;
        background-size: 210% 52px;
        border-radius: 5px;
        -webkit-clip-path: polygon(0 50%, 100% 73%, 100% 23%);
        clip-path: polygon(0 50%, 100% 80%, 100% 23%);
        position: absolute;
        top: 272px;
        left: 533px;
    }
}