

@keyframes starAnimation1of4{
    0%{
        right: 0px;
        top: -100px;
    }100%{
        right: calc(100% + 100px);
        top: calc(100% + 100px);
    }
}


@keyframes starAnimation2of4{
    0%{
        right: 0px;
        top: -100px;
    }100%{
        right: calc(150% + 240px);
        top: calc(90% + -100px);
    }
}

@keyframes starAnimation3of4{
    0%{
        right: 0px;
        top: -100px;
    }100%{
        right: calc(85% + -450px);
        top: calc(100% + 203px);
    }
}